<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../stylesheets/xreward.css">
  </head>

  <body>
    <body>
    <div id="returnContainer">
      <form action="/">
        <button id="return">⇦</button>
      </form>
    </div>
  <h1>Delete Reward</h1>


    <div>
      <p id="rewardTitle"></p>

      <input type="button" name="submit" id="submit" value="SUBMIT">

    </div>

  </body>


</html>
