<!DOCTYPE html>
<html lang="en">
  <head>
    <title> {{title}} </title>
  </head>


  <body>
    This site needs you to give it premission
    <br>
    <a href="ttvrewardavocado.pl/auth">try again here</a>

    <p>{{errorCode}}</p>
    <p>{{errorDesc}}</p>
  </body>

</html>
