<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../stylesheets/xreward.css">
  </head>


  <body>
    To use this site you need to give premission
  <script type="text/javascript">
    alert("Try again\nTo use this site you need to give premission")
  </script>
  </body>

</html>
