<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../stylesheets/home.css">
  </head>


  <body>

    <form action="/addreward">
        <button >Dodaj Nagrode</button>
    </form>

    <form action="/editreward">
        <button >Edytuj Nagrode</button>
    </form>

    <form action="/deletereward">
        <button >Usuń Nagrode</button>
    </form>

  </body>

</html>