<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../stylesheets/xreward.css">
  </head>


  <body>
  <a href="/addreward">Dodaj Nagrode</a> <br>
  <a href="/editreward">Edytuj Nagrode</a> <br>
  <a href="/deletereward">Usuń Nagrode</a> <br>
  </body>

</html>